@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite/dist/flowbite.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

:root {

  background-color: #fff4ea;
}

/* custom.css */
[aria-checked="true"] [data-testid="flowbite-toggleswitch-toggle"] {
    background-color: #FF8E29 !important;
  }
  [aria-checked="false"] [data-testid="flowbite-toggleswitch-toggle"] {
    background-color: #6F757E !important;
  }


  [data-testid="flowbite-accordion-content"]{
    padding: 10px;
  }
@media (min-width: 768px) {
  .element::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 75%;
    width: 2px;
    background-color: #E1E1E1;
}
}
[fdprocessedid="67xjgf"]:hover{
  background-color: #FF8E29 !important;
  color: #fff;
}